.wrapper
  .header
    %h1.header__title
      %a.header__title--post1{:href => "http://localhost:3000/"} KoRONaDoyo
      %a.header__title--post1{:href => "http://localhost:3000/"} ZeninSyouGO!!
    .header__action
      %a.header__action--post2{:href => "/tweets"} 投稿一覧に戻る
  .neck
  .stomach
    .stomach__speech
      = image_tag src="/assets/ab56240dbb32db7dd4471dc349a7bcce.png", width:"800", height:"300"
      %h3.stomach__speech--message  更新が完了しました。
    .stomach__character
      = image_tag src="/assets/9ca9aca3b00e9206817a7eef6bc39ee2c0fbe9bc_l.jpg", width:"150", height:"150"
  .footer