* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  background-color: white;
  .line{
    background-color: #FF0461;
    height: 11vh;
    box-shadow: 5px 5px 20px 5px black;
    &__box{
      width: 16%;
      &--title{
      font-size: 34px;
      border-bottom: 1px solid black;
      color: #fff;
      text-shadow: 0 0 5px #000, 0 0 1px #000, 0 0 1px #000;
      display: block;
      font-weight: bold;
      padding-left: 20px;
      }
    }
  }
  .head{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__left{
      width: 60%;
      height: 80px;
    }
    &__right{
      width: 40%;
      height: 80px;
      &__contents{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        &--post{
          text-decoration: none;
          font-size: 27px;
          margin-left: 10px;
          color: #f8f8ff;
          position: absolute;
          font-weight: bold;
          right: 494px;
          top: 135px;
          text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;
        }
        &--post1{
          text-decoration: none;
          font-size: 27px;
          margin-left: 10px;
          color: #f8f8ff;
          position: absolute;
          font-weight: bold;
          right: 475px;
          top: 135px;
          text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;
        }
        &--post2{
          text-decoration: none;
          font-size: 27px;
          margin-left: 100px;
          color: #f8f8ff;
          font-weight: bold;
          text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;
          position: absolute;
          top: 135px;
          right: 133px;
        }
        .picture12{
          position: relative;
          top: 3px;
          border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px;
          border: 1px solid #F0F8FF;
          
        }
        .picture14{
          position: relative;
          top: 3px;
          border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px;
          border: 1px solid #F0F8FF;
          margin: 20px;
        }
      }
    }
  }
  .main{
    height: 78%;
    display: flex;
    justify-content: space-around;
    &__side{
      width: 18%;
      &__Contents{
        background-color: white;
        color: white;
        position: relative;
        &__message{
          position: relative;
          position: absolute;
        }
        .side__Contents__btn4{
          display: block;
          position: relative;
          left: -15%;
          height: 180px;
          width: 153%;
          margin-bottom: 15px;
          border: 5px solid wheat;
          border-radius: 25px 100px 50px 25px / 25px 100px 50px 25px;
          box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
          .picture4{
            position: absolute;
            border-radius: 25px 100px 50px 25px / 25px 100px 50px 25px;
          }
          .paragraph4{
            position: absolute;
            color: wheat;
            font-weight: bold;
            font-size: 40px;
          }
        }
        .side__Contents__btn{
          display: block;
          height: 178px;
          width: 147%;
          left: -15%;
          margin-bottom: 15px;
          position: absolute;
          position: relative;
          border: 5px solid wheat;
          border-radius: 25px 100px 50px 25px / 25px 100px 50px 25px;
          box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
          .picture2{
            position: absolute;
            border-radius: 25px 100px 50px 25px / 25px 100px 50px 25px;
          }
          .paragraph1{
            position: absolute;
            color: white;
            font-weight: bold;
            font-size: 40px;
          }
        }
        .side__Contents__btn2{
          display: block;
          position: absolute;
          position: relative;
          height: 176px;
          width: 140%;
          left: -15%;
          margin-bottom: 20px;
          border: 5px solid wheat;
          border-radius: 25px 100px 50px 25px / 25px 100px 50px 25px;
          box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
          .picture3{
            position: absolute;
            border-radius: 25px 100px 50px 25px / 25px 100px 50px 25px;
          }
          .paragraph2{
            position: absolute;
            color: black;
            font-weight: bold;
            font-size: 40px;
          }
        }
        .side__Contents__btn3{
          display: block;
          position: absolute;
          height: 160px;
          width: 130%;
          left: -15%;
          margin-bottom: 35px;
          text-align: center;
          font-size:50px;
          text-decoration: none;
          border: 5px solid wheat;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
          border-radius: 25px 100px 50px 25px / 25px 100px 50px 25px;
          .picture{
            position: relative;
            border-radius: 25px 100px 50px 25px / 25px 100px 50px 25px;
          }
          .paragraph{
            position: absolute;
            right: 60px;
            border-bottom: 4px solid #FF0461;
            font-weight: bold;
          }
          .Contents__btn--icon{
            left: 20px;
            position: absolute;
            color: blue;
          }
        }
      }
    }
    .picture10{
      border-radius: 50px 50px 50px 50px / 35px 35px 35px 35px;
      margin-left: 20%;
      margin-top: 20%;
    }
    &__right{
      width: 20%;
      &__above{
        height: 27%;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        &--name{
          position: absolute;
          top: 40%;
          right: 6%;
          font-size: 35px;
          color: #fff;
          text-shadow: 0 0 20px black, 0 0 40px black, 0 0 4px black;
          text-orientation: upright;
          font-weight: bold;
        }
      }
      &__middle{
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      &__under{
        height: 35%;
        margin-left: 10px;
        bottom: -23%;
        position: relative;
        .picture5{
          position: relative;
          border-radius: 50px 50px 50px 50px / 35px 35px 35px 35px;
          box-shadow: 1px 10px 10px 10px rgba(231, 7, 7, 0.959);
        }
        &--title1{
          position: absolute;
          color: red;
          top: 105px;
          left: 57px;
          font-weight: bold;
          font-size: 45px;
          text-shadow: 0 0 2px white, 0 0 40px white, 0 0 1px white;
        }
        &--title2{
          position: absolute;
          color: red;
          top: 175px;
          left: 120px;
          font-weight: bold;
          font-size: 45px;
          text-shadow: 0 0 2px white, 0 0 40px white, 0 0 1px white;
        }
      }
    }
  }
}   


